.exercise-track {
  display: block;

  pointer-events: none;
}

.exercise-track .exercise-card {
  transition: opacity 120ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.exercise-track:hover .exercise-card {
  opacity: 0.5;
}

.exercise-track:hover .exercise-card:hover {
  opacity: 1;
}