html {
  --background: #FBFCFE;
  --card-background: #FFFFFF;
  --green: #65B294;
  --text-active: #26282d;
  --text-unlocked: #6D6984;
  --text-locked: #9895A8;
}

body {
  background-color: var(--background);
}

.exercise-connections__canvas {
  margin: 0;
  padding: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  touch-action: none;
  border: 1px dashed;
}

.exercise__track {
  display: block;
}

.exercise__layer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.exercise__card {
  box-sizing: border-box;
  width: 200px;
  height: 100px;

  padding: 0.2rem;
  margin: 0.4rem 0.2rem;

  background-color: var(--card-background);
  color: var(--text-locked);
  box-shadow: 0px 0px 60px -15px rgba(0, 0, 0, 0.15);
}

.exercise__display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.exercise__display__name {
  font-weight: 600;
}

.exercise__display_stats {
  min-height: 20px;
}

.exercise__status {
  color: black;
}