html {
  --background: #FFFFFF;
  --card-background: #FFFFFF;
  --check-green: #82E7C1;
  --line-green: #64B294;
  --line-available: #7194F7;
  --line-locked: #C9C8D7;
  --text-unlocked: #26282d;
  --text-locked: #83819E;

  font-size: 100%;
}

body {
  background-color: var(--background);
}