html {
  --background: #FBFCFE;
  --card-background: #FFFFFF;
  --green: #65B294;
  --text-active: #26282d;
  --text-unlocked: #6D6984;
  --text-locked: #9895A8;

  font-size: 100%;
}

body {
  background-color: var(--background);
}